@charset "UTF-8";

.cko-view-switch {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #EDEBDE url('images/bg.png') repeat 0 0 scroll;
}

.cko-user-card {
  background-color: #fff;
  padding: 10px 80px 10px 10px;
  margin-top: 140px;
  box-shadow: 3px 3px 3px #ccc;
  border-radius: 4px;
  position: relative;
}
.cko-user-card .cko-photo {
  border-radius: 50%;
}
.cko-user-card .fa {
  width: 30px;
  text-align: center;
}
.cko-user-card .fa-2x {
  font-size: 18px;
}
.cko-next-user {
  position: absolute;
  width: 60px;
  background-image: linear-gradient(to right,rgba(145, 126, 3, 0.1) 0,rgba(145, 126, 3,.5) 100%);
  background-repeat: repeat-x;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: .5;
  transition: .2s opacity ease-in-out;
}
.cko-next-user:hover,
.cko-next-user:active,
.cko-next-user:focus {
  opacity: .8;
}

.cko-next-user::after {
  content: '\f054';
  font-size: 24px;
  font-family: FontAwesome;
  position: absolute;
  color: #444;
  top: 45%;
  left: 40%;
}

@media (max-width: 767px) {
  .cko-user-card {
    padding: 10px;
    margin-top: 10px;
  }
  .cko-user-card .fa.visible-xs {
    display: inline-block !important;
  }
}
